packer/variables.json
packer/immutable/variables.auto.pkrvars.hcl
key.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
*.retry
ansible/roles/jdauphant.nginx
ansible/vault.key
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache
